<h1>Startup Sprint Team!</h1>

<table style="padding:5px">
  <tr>
    <th>Photo</th>
    <th>Name</th>
  </tr>
  <tr>
    <td><img src="images/niki.jpg"></td>
    <td>Niki Chimberg</td>
  </tr>
  <tr>
    <td><img src="images/kurt.jpg"></td>
    <td>Kurt Alles</td>
  </tr>
  <tr>
    <td><img src="images/jordan.jpg"></td>
    <td>Jordan Robarge</td>
  </tr>
  <tr>
    <td><img src="images/amanda.jpg"></td>
    <td>Amanda Tien</td>
  </tr>
  <tr>
    <td><img src="images/dextina.jpg"></td>
    <td>Dextina Booker</td>
  </tr>
  <tr>
    <td><img src="images/pooja.jpg"></td>
    <td>Pooja Kodavanti</td>
  </tr>
</table>